.content{
	max-width:980px
	display:flex;
}

.left-half{
	float:left;
	width:100%;
	color:#fff!important;
	background-color:#000!important;
	text-align:center!important;
	
	width:auto;
	content:"";
	display:table;
	clear:both
}
.right-half{
	float:left;
	width:100%;
	color:#fff!important;
	background-color:##3f51b5!important;
	text-align:center!important;
	display:inline-block;
	width:auto;
	content:"";
	display:table;
	clear:both
	
}
.title{
	display:inline-block;
	width:auto;
	text-align:center!important;
	padding-top:64px!important;
	padding-bottom:64px!important;
}

.row{
	content:"";
	display:table;
	clear:both;
	margin-top:16px;
	margin-bottom:16px;
}